@import url('./reset.css');
@import url('./base.css');
* {
  box-sizing: border-box;
}

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
  list-style: none;
  margin: 0;
}

.gallery-item {
  width: calc((100% - 40px) / 3);
  border: 1px solid #ddd;

  overflow: hidden;
  background-color: #fff;
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  font-size: 14px;
  color: #444;
}

.gallery-info p {
  margin: 0;
  line-height: 1.2;
}
